test/deltares_testbench/configs/xsd/deltaresTestbench_v3-1.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by Afdeling ICT (Stichting Deltares) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns="http://schemas.deltares.nl/deltaresTestbench_v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xerces="http://xerces.apache.org" targetNamespace="http://schemas.deltares.nl/deltaresTestbench_v3">
    <xs:element name="file" type="T_File"/>
    <xs:element name="from" type="xs:string"/>
    <xs:element name="path" type="xs:string"/>
    <xs:element name="root" type="xs:string"/>
    <xs:element name="shell" type="T_Shell"/>
    <xs:element name="checks" type="T_Checks"/>
    <xs:element name="config" type="T_Config"/>
    <xs:element name="program" type="T_Program"/>
    <xs:element name="argument" type="xs:string"/>
    <xs:element name="location" type="T_Location"/>
    <xs:element name="password" type="xs:string"/>
    <xs:element name="programs" type="T_Programs"/>
    <xs:element name="testCase" type="T_TestCase"/>
    <xs:element name="username" type="xs:string"/>
    <xs:element name="arguments" type="T_Arguments"/>
    <xs:element name="locations" type="T_Locations"/>
    <xs:element name="testCases" type="T_TestCases"/>
    <xs:element name="credential" type="T_Credential"/>
    <xs:element name="enginesDir" type="xs:string"/>
    <xs:element name="localPaths" type="T_LocalPaths"/>
    <xs:element name="maxRunTime" type="T_MaxRunTime"/>
    <xs:element name="credentials" type="T_Credentials"/>
    <xs:element name="referenceDir" type="xs:string"/>
    <xs:element name="testCasesDir" type="xs:string"/>
    <xs:element name="defaultTestCases" type="T_DefaultTestCases"/>
    <xs:element name="deltaresTestbench_v3" type="T_DeltaresTestbench_v3"/>
    <xs:element name="module" type="xs:string"/>
    <xs:element name="modules" type="T_Modules"/>
    <xs:element name="environment" type="T_Environment"/>
    <xs:element name="environments" type="T_Environments"/>
    <xs:element name="parameter" type="T_Parameter"/>
    <xs:element name="parameters" type="T_Parameters"/>
    <xs:element name="skipline" type="xs:string"/>
    <xs:element name="workingDirectory" type="xs:string"/>
    <xs:complexType name="T_MaxRunTime">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="OverruleRefMaxRunTime" type="xs:boolean"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="T_File">
        <xs:choice>
            <xs:sequence minOccurs="0">
                <xs:element ref="parameters" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="skipline"/>
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="ignore" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
    <xs:complexType name="T_Shell">
        <xs:attribute name="ref" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="T_Checks">
        <xs:sequence>
            <xs:element ref="file" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_Config">
        <xs:all>
            <xs:element ref="credentials"/>
            <xs:element ref="localPaths"/>
            <xs:element ref="locations"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="T_Program">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="path" minOccurs="0"/>
            <xs:element ref="workingDirectory" minOccurs="0"/>
            <xs:element ref="arguments" minOccurs="0"/>
            <xs:element ref="shell" minOccurs="0"/>
            <xs:element ref="location" minOccurs="0"/>
            <xs:element ref="modules" minOccurs="0"/>
            <xs:element ref="environments" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="ignoreReturnValue" type="xs:boolean"/>
        <xs:attribute name="logOutputToFile" type="xs:boolean"/>
        <xs:attribute name="programStringRemoveQuotes" type="xs:boolean"/>
        <xs:attribute name="ignoreStandardError" type="xs:boolean"/>
        <xs:attribute name="addSearchPaths" type="xs:boolean"/>
        <xs:attribute name="shellStringRemoveQuotes" type="xs:boolean"/>
        <xs:attribute name="storeOutput" type="xs:boolean"/>
        <xs:attribute name="seq" type="xs:positiveInteger"/>
        <xs:attribute name="delay" type="xs:decimal"/>
    </xs:complexType>
    <xs:complexType name="T_Location">
        <xs:choice>
            <xs:sequence>
                <xs:element ref="credential" minOccurs="0"/>
                <xs:element ref="root"/>
            </xs:sequence>
            <xs:element ref="from"/>
        </xs:choice>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="T_Programs">
        <xs:sequence>
            <xs:element ref="program" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_TestCase">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="path" minOccurs="0"/>
            <xs:element ref="programs" minOccurs="0"/>
            <xs:element ref="location" minOccurs="0"/>
            <xs:element ref="maxRunTime" minOccurs="0"/>
            <xs:element ref="checks" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="ref" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="ignore" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
    <xs:complexType name="T_Arguments">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="argument"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_Modules">
        <xs:sequence maxOccurs="unbounded">
            <xs:element ref="module"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_Environments">
        <xs:sequence maxOccurs="unbounded">
            <xs:element ref="environment"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_Environment">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name"/>
                <xs:attribute name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="T_Parameters">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="parameter"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="T_Parameter">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="tolerance" type="xs:double"/>
        <xs:attribute name="toleranceAbsolute" type="xs:double"/>
        <xs:attribute name="toleranceRelative" type="xs:double"/>
        <xs:attribute name="location" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="T_Locations">
        <xs:sequence>
            <xs:element ref="location" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_TestCases">
        <xs:sequence>
            <xs:element ref="testCase" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_Credential">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element ref="username"/>
            <xs:element ref="password"/>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="T_LocalPaths">
        <xs:all>
            <xs:element ref="testCasesDir"/>
            <xs:element ref="enginesDir"/>
            <xs:element ref="referenceDir"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="T_Credentials">
        <xs:sequence>
            <xs:element ref="credential"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_DefaultTestCases">
        <xs:sequence>
            <xs:element ref="testCase" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="T_DeltaresTestbench_v3">
        <xs:all>
            <xs:element ref="config"/>
            <xs:element ref="programs"/>
            <xs:element ref="defaultTestCases"/>
            <xs:element ref="testCases"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
